DATABASE_HOST=127.0.0.1
DATABASE_PORT=5429
DATABASE_USERNAME=root
DATABASE_PASSWORD=root
DATABASE_NAME=base
DATABASE_DIALECT=postgres
JWT_SECRET=Z68s9YI5wf
JWT_EXPIRATION_TIME=1800
JWT_REFRESH_SECRET=Q0U86pV2la
JWT_REFRESH_EXPIRATION_TIME=86400
SECRET=VW4XnWw5Cb